html {
  @apply font-sans;

  @media (min-width: theme('screens.sm')) {
    @apply bg-gray-200;
  }
}

html,
body,
#__nuxt,
#__layout {
  @apply relative;
}

strong {
  @apply font-semibold;
}

::-moz-selection {
  @apply text-white bg-indigo-700;
}

::selection {
  @apply text-white bg-indigo-700;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0ms !important;
    transition-duration: 100ms !important;
  }
}

:focus,
.focus-outline:focus {
  @apply shadow-focus;
  outline: none;
}
